In [6]:
import pandas as pd
import numpy as np

In [7]:
btc_dune_df = pd.read_csv('../Data/dune_btc_hour.csv')
btc_whale_alerts_df = pd.read_csv('../Data/whale_alert_btc.csv')
eth_dune_df = pd.read_csv('../Data/dune_eth_hour.csv')
eth_whale_alerts_df = pd.read_csv('../Data/whale_alert_eth.csv')

In [9]:
eth_dune_df

,datetime,transaction_count,fail_rate_percent,open,low,high,close,hourly_return,active_sending_addresses,active_receiving_addresses,...,RV_MA_1hr,RV_MA_3hr,RV_MA_12hr,vol_future,onchain_volume_usd_log,avg_gas_fee_usd_log,avg_priority_fee_usd_log,staking_inflow_log,exchange_depositing_count_log,exchange_netflow_usd_log
0,2024-11-05 00:00:00+00:00,44719,1.317284,2398.91,2398.91,2409.56,2405.13,NaN,20914.0,12008.0,...,NaN,NaN,NaN,0.009336,18.388453,0.804592,0.818838,5.953243,7.541152,15.335639
1,2024-11-05 01:00:00+00:00,44513,1.239836,2402.45,2384.78,2410.94,2408.52,0.001408,20028.0,12945.0,...,0.004405,NaN,NaN,0.003825,18.389600,0.807539,0.975081,4.158883,7.470794,-13.782015
2,2024-11-05 02:00:00+00:00,45224,0.950002,2411.90,2402.15,2413.11,2402.73,-0.002407,21410.0,12831.0,...,0.009336,NaN,NaN,0.003505,18.686527,0.787821,0.787801,9.261984,7.643004,16.147527
3,2024-11-05 03:00:00+00:00,42689,-0.071795,2405.17,2403.79,2417.69,2417.44,0.006104,20210.0,12622.0,...,0.003825,0.005855,NaN,0.003399,18.327220,0.701618,0.769968,5.659482,7.377759,15.417117
4,2024-11-05 04:00:00+00:00,43063,-0.071795,2418.50,2418.50,2431.30,2428.68,0.004639,21076.0,10843.0,...,0.003505,0.005555,NaN,0.003244,18.356326,0.516416,0.329641,4.189655,7.362645,15.517485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8203,2025-10-12 19:00:00+00:00,69387,-0.340224,4111.71,4111.71,4144.37,4144.37,0.008199,31227.0,19656.0,...,0.006496,0.012142,0.010524,0.007959,19.467666,-0.652012,-0.418157,0.711994,7.890583,-17.427969
8204,2025-10-12 20:00:00+00:00,68653,-0.340224,4140.28,4135.07,4167.94,4167.94,0.005671,29222.0,18801.0,...,0.006251,0.008313,0.010633,0.013743,19.541045,-0.023191,0.693007,0.000000,7.772753,-17.786803
8205,2025-10-12 21:00:00+00:00,64176,-0.340224,4145.22,4097.71,4158.51,4128.80,-0.009435,27708.0,16669.0,...,0.007959,0.006902,0.010962,0.007669,19.611126,-0.101933,0.572676,0.000000,7.681099,-16.883221
8206,2025-10-12 22:00:00+00:00,64996,-0.652871,4135.83,4124.31,4150.47,4145.09,0.003938,28854.0,17574.0,...,0.013743,0.009318,0.011700,0.009990,19.516383,-0.649695,-0.202205,0.000000,7.786967,17.278869
8207,2025-10-12 23:00:00+00:00,54465,-1.019556,4142.72,4118.27,4158.87,4153.71,0.002077,22905.0,14923.0,...,0.007669,0.009790,0.011895,NaN,19.062897,-0.716942,-0.215763,0.000000,7.688455,-15.571572